<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	    <title>NCBS 25</title>
	    <link rel="icon" href="img/Assets/ncbs_logo_header.png" type="image/png" sizes="16x16">
	    <meta name="description" content="" />
	    <meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="css/theme/header.css" />
		<link type="text/css" rel="stylesheet" href="css/theme/main.css" />
		
		<script type='text/javascript' src='js/jquery.min.js'></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/classie.js"></script>

<style type="text/css">
#intro{
     margin: 15px;
  padding: 15px;
  background-color: white;
  border: 3px;
  border-style: solid;
    border-color: #000000;
     box-shadow: 2px 2px 3px grey;
     color: black;
    }


	table.tableizer-table {
		font-size: 12px;
		border: 3px;
  border-style: solid;
    border-color: #000000;
    margin: 15px;
    padding:15px;
		
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
		background-color:white;
		color: black;
		font-size:12px;
		font-family: roboto, sans-serif;
	}
	.tableizer-table th {
		background-color: black; 
		color: white;
		font-weight: bold;
		font-family: roboto, sans-serif;
	}
	#audio-bar{

	
	background-color: black;
	

	}
	#audio{
		background-color: black;
		color:black;
	}

	#mug-shot{
  		position:relative;
  		top:30px;

	}

	#copyright{
		border: 3px;
  border-style: solid;
    border-color: #000000;
    background-color: white;
    color:black;
    margin: 15px;
    padding: 15px;
  

	}
</style>

</head>

<body>


<script type='text/javascript' src='js/underscore-min.js'></script>
<script type='text/javascript' src='data2.js'></script>
<script type="text/javascript">
		function scrollEffect(){
			
			window.addEventListener('scroll', function(e){
		    var distanceY = window.pageYOffset || document.documentElement.scrollTop,
		        shrinkOn = 25,
		        header = document.querySelector("header");
		    if (distanceY > shrinkOn) {
		        classie.add(header,"smaller");
		        //$("#ncbs-home-text-collapsible").hide();
		    } else {
		    	//$("#ncbs-home-text-collapsible").show();
		        if (classie.has(header,"smaller")) {
		            classie.remove(header,"smaller");
		        }
		    }
		});
		};

scrollEffect();
	
</script>


<!--Header-->
<div class="container-fluid">
		<div class="row-fluid">
			<!-- Header from templates/header.html and app.js -->
				
<header>
    <div class="container clearfix">
        <h1 id="logo">
          <a href="https://www.ncbs.res.in/ncbs25/" target="">
            <img src="img/Assets/ncbs_logo_introtext.png" alt="LOGO" />
          </a>
        </h1>
        <nav class=" pull-right" style="margin-right: 1.5em;">
            <ul class="nav navbar-nav navbar-right">
                </ul>
                  <a href="https://www.ncbs.res.in/ncbs25/#about" target="">About</a>
                  <a href="https://www.ncbs.res.in/" target="_blank">NCBS</a>
                  
            
        </nav>
    </div>
</header><!-- /header -->
<ul class="nav nabar-nav" style=" position: fixed;
    right: 3%; top:8px; font-weight:600;
    z-index: 1000; ">
      <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white; font-size:18px;">Sandbox <span style="border-top-color:#fff;" class="caret"></span></a>
  <ul class="dropdown-menu" style="background-color:rgba(102, 102, 102, 0.2); color:white; border-radius:0px; margin-top:14px;">
    <li><a href="https://www.ncbs.res.in/ncbs25/sandbox/ephemera">Ephemera</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://www.ncbs.res.in/ncbs25/sandbox/peopleplex">Peopleplex</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://www.ncbs.res.in/ncbs25/sandbox/space_tour">Space Tour</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://www.ncbs.res.in/ncbs25/sandbox/timeline">Timeline</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://www.ncbs.res.in/ncbs25/sandbox/oral_history">Oral History</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://www.ncbs.res.in/ncbs25/sandbox/mosaic">Mosaic template</a></li>
  </ul>
</li>
</ul>

</div>
</div>
<!-- /header -->




<!-- spacer -->
<br><br><br>

<!-- content -->


<!-- curatorial Note 
<div class="row-fluid">
    <div class="col-md-12">
    	<div id='intro' style="font-size:12px; margin-top:-4px;">
			<p><b>Oral History Metadata Synchronizer </b>is a widget to synchronize an interview transcript with the original oral history interview. Click on the timestamps to go directly to particular sections. In future versions of this widget, one could edit the transcript and encode annotations into an audio file. This is a sample of an interview of Obaid Siddiqi conducted by Indiaira Chowdhury where he discusses his entry into neurobiology. 
			</p>
			
		</div>
	</div>
</div>	-->
		



<div class="row-fluid">
    <div class="col-md-12">

<table class="tableizer-table" id='table'>
</table>
<br><br>
</div>
</div>













<!-- footer -->
<div class="row-fluid">
	<div class="col-md-12">
		
		<div id="footer">


<div class="row" id="ncbs-nav-footer">
	<div class="col-lg-offset-1">
		<div style="font-family: roboto;font-size: 24px;margin: 2px; color:#333726;">
			 <p>THEMES</p>
</div>
</div>
	<div class="col-lg-offset-1" style="display:flex;">

	<a href="https://www.ncbs.res.in/ncbs25/#identity" target="">	
	<div class="panel panel-ncbs-foot">
		 <div class="panel-body">
			<div class="sub-theme-nav-item">
				
					<img src="img/Assets/identity.png" alt="category_identity" class="img-thumbnail" />
				
			
			</div>
		</div>
	</div>
	<div class="ncbs-foot-nav-text  text-center">Identity</div>
	</a>

	<a href="https://www.ncbs.res.in/ncbs25/#institution-building" target="">
		<div class="panel panel-ncbs-foot">
			 <div class="panel-body">
				<div class="sub-theme-nav-item">
					
						<img src="img/Assets/Institution_Building.png" alt="category_Institution_Building" class="img-thumbnail" style="margin-top:-5px;"/>
					
				</div>
			</div>
		</div>
		<div class="ncbs-foot-nav-text  text-center">Institution Building</div>
		</a>
		<a href="https://www.ncbs.res.in/ncbs25/#growth" target="">
		<div class="panel panel-ncbs-foot">
			 <div class="panel-body">
				<div class="sub-theme-nav-item">
					
					 <img src="img/Assets/growth.png" alt="category_growth" class="img-thumbnail" style="margin-top:-5px; width:93px; margin-left:17px;"/>
				
				</div>
			</div>
		</div>
		<div class="ncbs-foot-nav-text   text-center">Growth</div>
		</a>
		<a href="https://www.ncbs.res.in/ncbs25/#research" target="">
		<div class="panel panel-ncbs-foot">
			 <div class="panel-body">
				<div class="sub-theme-nav-item">
					<img src="img/Assets/research-1.png" alt="category_research" class="img-thumbnail" style="width: 90px; margin-left: 15px;"/>
				</div>
			</div>
		</div>
		<div class="ncbs-foot-nav-text  text-center">Research</div>
		</a>
		<a href="https://www.ncbs.res.in/ncbs25/#education" target="">
		<div class="panel panel-ncbs-foot">
			 <div class="panel-body">
				<div class="sub-theme-nav-item">
					<img src="img/Assets/education.png" alt="category_education" class="img-thumbnail" style="margin-top:26px;"/>
				</div>
			</div>
		</div>
		<div class="ncbs-foot-nav-text  text-center">Education</div>
		</a>
		<a href="https://www.ncbs.res.in/ncbs25/#ripple-effect" target="">
		<div class="panel panel-ncbs-foot">
			 <div class="panel-body">
				<div class="sub-theme-nav-item">
					
					<img src="img/Assets/ripple_effect.png" alt="category_ripple_effect" class="img-thumbnail" style="margin-top:-7px;"/>
				
				</div>
			</div>
		</div>
		<div class="ncbs-foot-nav-text  text-center">Ripple Effect</div>
		</a>
		<a href="https://www.ncbs.res.in/ncbs25/#intersections" target="">
		<div class="panel panel-ncbs-foot">
			 <div class="panel-body">
				<div class="sub-theme-nav-item">
					
					<img src="img/Assets/intersections.png" alt="category_intersections" class="img-thumbnail"/>
				
				</div>
			</div>
		</div>
		<div class="ncbs-foot-nav-text  text-center">Intersections</div>
	</a>
	<br />
	<hr />
	
</div>
<div class="col-sm-12">
	<div class="text-center" style="margin-top:15px; font-family: roboto;">
		<a data-toggle="modal" data-target="#ncbs-content-policy" style="cursor: pointer;     color: #333726;">copyright &copy 2016</a>
	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="ncbs-content-policy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="font-family: roboto; border-radius:0px; color:darkcyan; background-color: #f2f2f2;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="font-family: roboto; ">User Agreement</h4>
      </div>
      <div class="modal-body">
     

     <p>This NCBS@25 digital exhibit contains records (images, audio and video excerpts, text) under copyright or under third party ownership. These records are given on loan to NCBS for the purposes of this exhibit. Material may only be reproduced with the explicit permission of the record owners, as mentioned in the caption for each image, and audio and video clip. The NCBS@25 About page has contact details. Any document without ownership details in the caption is in the public domain. Please respect the honour code and the generosity of the donors in sharing this material with a wider audience. 
     </p>

     <p>Please click "ACCEPT" if you agree to comply with these terms. If you do not agree to comply with these terms, click "DECLINE" after which you will be redirected to the NCBS home page.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" style="color:#666;">Accept & Continue</button>
        <!--button type="button" class="btn btn-primary">Save changes</button-->
      </div>
    </div>
  </div>
</div>    </div>
  </div>
</div>



<script>
	//create table 
	var tableTemplate = _.template(
	"<thead><tr class='tableizer-firstrow'><th><center>Name</center></th><th><center>Affiliation</center></th><th><center>Relevance</center></th><th><center>Audio</center></th><th><center>Image</center></th></tr></thead><tbody>"+
	"<% _.each(data, function(item, index, data) { %>"+
		"<tr><td><%=item.Name%></td>"+
		"<td><%=item.Affiliation%></td>"+
		"<td><%=item.Relevance%></td>"+
		"<td><div id='audio-bar'><center><audio controls id='audio' preload='auto'>"+
 		"<source src=<%=item.AudioUrl%> type='audio/mpeg'/></audio></center></div>"+
 		"<p><%=item.AudioCaption%></p>"+
 		"<h6><%=item.AudioRights%></h6></td>"+
 		"<td><div id = 'mug-shot'><center><figure>"+
 		"<img style='border:1px;border-style:solid;border-color:#000000;width:400px;height:auto;' src=<%=item.ImageUrl%> />"+
		"<figcaption style='color:black; font-size:20px'><%=item.ImageCaption%></figcaption></figure></center></div></td>"+
		"</tr>"+
		" <% }); %> "+
		"</tbody>"
	);
	
	

	//create table 
	var tableTemplate2 = _.template(
	"<thead><tr class='tableizer-firstrow'><th><center>Time</center></th><th><center>Speaker</center></th><th><center>Content</center></th></tr></thead><tbody>"+
	"<% _.each(data, function(item, index, data) { %>"+
		"<tr><td><a href='javascript:void(0)' class='timer' ><%=item.Time%></a></td><td><center><%=item.Speaker%></center></td><td><%=item.Content%></td></tr>"+
	" <% }); %> "+
	"</tbody>"
	);
	
	var tableData = tableTemplate({
		data: data
	});
	document.getElementById("table").innerHTML = tableData

</script>





</body>

</html>